LLM_PROVIDER=groq
GROQ_API_KEY=your_key_here
OLLAMA_MODEL=mistral
EMBEDDING_MODEL=paraphrase-multilingual-mpnet-base-v2
CHROMA_PATH=./chroma_db
TOP_K_INTERV=2
TOP_K_FTECH=1
DISTANCE_THRESHOLD=0.8
MAX_CHUNK_TOKENS=200
